/* Initial state without background */
nav {
  transition: background-color 2.6s ease; 
}

/* Class to show background when scrolling down */
.show-background {
  background-color: #ffffff;
}

.backdrop-filter {
  backdrop-filter: blur(70px); 
}

/* slider */
.animate-move-left {
  transition: transform 1s ease-in-out;
}

/* .animate-move-left {
  animation: moveLeft is 1s linear forwards;
 } */

 /* @keyframes moveleft {
  0% {
   transform: translateX(0);
  }

  100% {
   transform: translateX(-200%);
  }
}

@keyframes moveright {
  0% {
   transform: translateX(0);
  }

  100% {
   transform: translateX(200%);
  }
} */

.animate-move-right {
  animation: moveRight is 1s linear forwards;
}


#slider-img-1{
    background-image: url(images/img-slider-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#slider-img-2{
    background-image: url(images/img-slider-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#slider-img-3{
    background-image: url(images/img-slider-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 
#slider-img-4{
    background-image: url(images/img-slider-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#slider-img-5{
    background-image: url(images/img-slider-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#subtitle{
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 10px;
}

#motto-1{
  font-family: Montserrat;
  
}

#post-1{
    background-image: url(images/Adidas-bag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#post-2{
    background-image: url(images/Hp-lp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#post-3{
    background-image: url(images/post-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#post-4{
    background-image: url(images/pendant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#post-5{
    background-image: url(images/card-holder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#post-6{
    background-image: url(images/white-handbag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#post-7{
    background-image: url(images/pet-cat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#post-8{
    background-image: url(images/iphone-xsmax.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
