/* Initial state without background */
nav {
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Class to show background when scrolling down */
.show-background {
  background-color: rgba(255, 255, 255, 0.9); /* Set your desired background color */
  backdrop-filter: blur(10px); /* Optional: Apply a backdrop filter for a blur effect */
}


#slider-img-1{
    background-image: url(images/sample_slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#slider-img-2{
    background-image: url(images/img-slider-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#slider-img-3{
    background-image: url(images/img-slider-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 


/* .animate-move-left {
  animation: moveLeft is 1s linear forwards;
 }

@keyframes moveleft {
  0% {
   transform: translateX(0);
  }

  100% {
   transform: translateX(-200%);
  }
}




@keyframes moveright {
       0% {
        transform: translateX(0);
       }

       100% {
        transform: translateX(200%);
       }
} */


.animate-move-left {
  transition: transform 1s ease-in-out;
}

/* .animate-move-right {
  animation: moveRight is 1s linear forwards;
} */
#slider-img-4{
    background-image: url(images/img-slider-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#slider-img-5{
    background-image: url(images/img-slider-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#subtitle{
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 10px;
}

#motto-1{
  font-family: Montserrat;
  
}

#post-1{
    background-image: url(images/Adidas-bag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    background-color: #834193;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
    color: rgb(255, 255, 255);
  }
  
  #favorite {
    display: none;
  }
  
  #favorite:checked + .container svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
  }
  
  @keyframes heartButton {
    0% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(1.3);
    }
  
    50% {
      transform: scale(1);
    }
  
    75% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  #favorite + .container .action {
    position: relative;
    overflow: hidden;
    display: grid;
  }
  
  #favorite + .container .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
  }
  
  #favorite + .container .action span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  
  #favorite:checked + .container .action span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
  }
  
  #favorite + .container .action span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
  }
  
  #favorite:checked + .container .action span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  